$danger: #c63c3d;
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/utilities/initial-variables";
$box-radius: 0;
$body-family: BlinkMacSystemFont, -apple-system, "Roboto", "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;

@import "~bulma";
@import "~bulma-switch";
@import "~bulma-tooltip";
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #c63c3d;
}

.select select:focus,
.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active {
  border-color: #dbdbdb;
}
